* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/background.jpg);
}
.calculator {
  flex: 0 0 95%;
}
.screen {
  width: 100%;
  font-size: 7rem;
  padding: 0.5rem;
  background: rgba(128, 139, 150, 0.8);
  color: white;
  border: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}

button {
  flex: 0 0 25%;
  border: 1px solid black;
  padding: 0.25rem 0;
  transition: all 2s ease;
}
button:hover {
  background: rgba(40, 116, 166, 0.8);
}
.btn-lightblue {
  background: rgba(126, 176, 186, 0.8);
  color: white;
}
.btn-grey {
  background: rgba(224, 224, 224, 0.8);
}
.btn,
.btn-equal,
.btn-clear {
  font-size: 3rem;
}
.btn-equal {
  background: rgba(245, 222, 179, 0.8);
}
.btn-clear {
  background: rgba(240, 128, 128, 0.8);
}
