* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20px;
  background-color: aquamarine;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  flex: 0 0 95%;
}
.screen {
  width: 100%;
  font-size: 7rem;
  padding: 0.5rem;
  background: rgb(128, 139, 150);
  color: white;
  border: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}

button {
  flex: 0 0 25%;
  border: 1px solid black;
  padding: 0.25rem 0;
  transition: all 2s ease;
}
button:hover {
  background: rgb(40, 116, 166);
}
.btn-yellow {
  background: rgb(126, 176, 186);
  color: white;
}
.btn-grey {
  background: rgb(224, 224, 224);
}
.btn,
.btn-equal,
.btn-clear {
  font-size: 4rem;
}
.btn-equal {
  background: wheat;
}
.btn-clear {
  background: lightcoral;
}
